<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SIClient.Settings>
            <setting name="WholeScreenKeys" serializeAs="String">
                <value>Control+Shift+R</value>
            </setting>
            <setting name="WindowKeys" serializeAs="String">
                <value>Control+Shift+T</value>
            </setting>
            <setting name="CutKeys" serializeAs="String">
                <value>Control+Shift+Z</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>http://piko.ondryaso.eu</value>
            </setting>
            <setting name="ResponseManagerName" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="TcpAddress" serializeAs="String">
                <value>tcp://piko.ondryaso.eu:1337</value>
            </setting>
            <setting name="EnableTcp" serializeAs="String">
                <value>False</value>
            </setting>
        </SIClient.Settings>
    </userSettings>
</configuration>